body {
    background-color: rgb(231, 248, 248);
    font-family: 'Karla';
    font-weight: 400;
}

.card-layout {
    background-color: antiquewhite;
    height: 450px;
    width: 600px;
    margin-top: 100px;
    margin-left: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    overflow: hidden;
}

.upper {
    height: 200px;
    background-color: white;
}

.upper-text {
    color: #98a6bd;
    padding-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color:rgb(84, 179, 179);
}

.Green{
    font-weight: 600;
    color: rgb(191, 230, 21);
}

p {
    font-weight: 550;
    font-size: 0.85rem;
}

.lower {
    display: flex;
    height: 250px;
    width:600px; 
    color: white; 
}

.left-text{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

h3{
    color: white;
}

.left {
    
    background-color: #2ab2af;
    height: 250px;
    width: 300px;
    border-bottom-left-radius: 10px;
    
}

.dolar {
    font-size:1.4rem;
    color: white;
}

.dolar-frequency {
    position: relative;
    top: -5px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}

button{
    height: 35px;
    width:200px;
    margin-top: 10px;
    background-color: rgb(191, 230, 21);
    border-color: transparent;
    border-radius: 5px;
    color: white;
    font-weight: 545;
    font-size: 100%;
}

button:hover {
    color: grey;
    background-color: rgb(191, 215, 20);
    transform: scale(1.02);
}

.right {
    background-color: #2EBFBD;
    height: 250px;
    width: 300px;
    border-bottom-right-radius: 10px;
    
}

.right-text {
    height: 200px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.right-text p {
    font-weight: 400;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    opacity: 0.8;
}

